<!DOCTYPEhtml>
    <html lang="en">

    <head>
        <title>
            <%= title %>
        </title>
        <!-- external css -->
        <link rel="stylesheet" href="css/styles.css">
        <!-- localhosted bootstrap -->
        <link href="/bootstrap 5.3.3/css/bootstrap.min.css" rel="stylesheet">
        <!-- localhosted font-awesome icons -->
        <link rel="stylesheet" href="/font-awesome 4.7.0/css/font-awesome.css">
        <meta charset="utf-8">
    </head>

    <body>
        <%-include('navbar');-%>
            <%-include('body-content');-%>
                <%-include('content');-%>
                    <%-include('content-section');-%>
                        <%-include('footer');-%>
                            <!-- jQuery -->
                            <script src="js/jquery-3.7.1.min.js">
                            </script>
                            <!-- external JS -->
                            <script src="js/script.js">
                            </script>
    </body>

    </html>